.card {
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);

  width: 100%;
  max-width: 500px;
  text-align: center;
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #111827;
}

.card p {
  font-size: 1rem;
  color: #4b5563;
  margin-bottom: 20px;
}
